header {
    background-color: blanchedalmond;
}
footer {
    background-color: papayawhip;
}
header, footer {
    padding: 15px;
}

body {
    margin: 0px;
}
main {
    margin: 10px;
}

header h1, header p {
    margin: 0px
}
.navbar ul {
    list-style-type: none;
    background-color: azure;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar li {
    float: left
}
.navbar a {
    color: teal;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgb(224, 250, 255);
}


.box {
    border: solid 2px black; 
    width:25%;
    padding:20px;
    box-sizing: border-box;
    float: left;
}
.exl li {
    max-width: 480px;
}
.exl li:hover {
    background-color: lightyellow;
}
.exl li:not(:hover) {
    color:darkslategray;
}
.exl li:nth-child(1){ /* could also be odd and even */
    font-style: italic;
}
.exl.latin li:nth-child(odd) {
    font-style:italic;
}
.exl.latin li:nth-child(3n + 1) {
    color:rgb(62, 145, 109)
}

